body
{
background: white url("images/background.jpg");
height:100%;
width:100%;
background-repeat:no-repeat;
background-size:cover;

}
.navbar
{
border-raduis: 0;

}

.navbar-brand
{
font-family: 'Satisfy', cursive;
}